<%# main body card %>
<div class="col s12 m7">
    <h2 class="header">Student Profile</h2>
    <div class="card horizontal">
      <div class="card-image">
        <img src="https://lorempixel.com/100/190/nature/6">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>Student info: Name, picture, interests, bio, description, location, type of work interests 
</p>
        </div>
        <div class="card-action">
          <a href="#">About Me</a>
            class="card-action"
            type="button"
            data-toggle="collapse"
            data-target="#AboutMe"
            aria-expanded="false"
            aria-controler="jobHistory"
        </div>


        <div class="card-action">
          <a href="#">Skills</a>
        </div>


        <div class="card-action">
          <a href="#">Contact</a>
        </div>
      </div>
    </div>
  </div>



 <!--  <button
            class="btn btn-primary"
            type="button"
            data-toggle="collapse"
            data-target="#jobHistory"
            aria-expanded="false"
            aria-controler="jobHistory"
          >
            Font End Skills
          </button>

          <button
            class="btn btn-primary"
            type="button"
            data-toggle="collapse"
            data-target="#education"
            aria-expanded="false"
            aria-controler="education"
          >
            Back End Skills
          </button>
        </p>

        <p>
          <div class="collapse" id="jobHistory">
            <div class="card card-block">
              HTML5
            </div>
            <div class="card card-block">
              CSS
            </div>
          </div>

          <div class="collapse" id="education">
            <div class="card card-block">
              Ruby on Rails
            </div>
            <div class="card card-block">
              Angular2
            </div>
            <div class="card card-block">
              MySQL
            </div>
          </div>
        </p>
      </div>
    </div>
  </div>
</div> -->

<%# main body card %>