 <!DOCTYPE html>
<html>
 
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>



<head>
<title><h1>Student Show page</h1></title>
Student info: Name, picture, interests, bio, description, location, type of work interests 

        toggle status:
        worker status: looking for work, currently working
        graduated status: currently schooling, graduation date. 

skills: Ruby, Rails, Java, C++, Python, Front end/Back end, CSS

</head>

<%= render partial: 'profile_card' %>

<body>
link to portfolio

contact info: email, phone, github, insta, twitter, FB, etc.

Skillset, interests, Current projects, Finished projects 

</body>

<footer>
Thanks for visiting Bottega, we are located in Lehi, UT.
Bottega contact info-
</footer>

</html>

<%# header collection %>

<ul class="collection">
    <li class="collection-item avatar">
      <img src="images/yuna.jpg" alt="" class="circle">
      <span class="title">Title</span>
      <p>Student Show Page<br>
         Student info: Name, Picture
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
    <li class="collection-item avatar">
      <i class="material-icons circle">folder</i>
      <span class="title">Work Status</span>
      <p>Status<br>
         Looking for work, Currently working
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
    <li class="collection-item avatar">
      <i class="material-icons circle green">insert_chart</i>
      <span class="title">Student Status</span>
      <p>Student<br>
         Currently in School: graduation date, Graduated
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
    <li class="collection-item avatar">
      <i class="material-icons circle red">play_arrow</i>
      <span class="title">Contact</span>
      <p>First Line <br>
         Second Line
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
  </ul>


<button
            class="btn btn-primary"
            type="button"
            data-toggle="collapse"
            data-target="#jobHistory"
            aria-expanded="false"
            aria-controler="jobHistory"
          >
            Font End Skills
          </button>

          <button
            class="btn btn-primary"
            type="button"
            data-toggle="collapse"
            data-target="#education"
            aria-expanded="false"
            aria-controler="education"
          >
            Back End Skills
          </button>
        </p>

        <p>
          <div class="collapse" id="jobHistory">
            <div class="card card-block">
              HTML5
            </div>
            <div class="card card-block">
              CSS
            </div>
          </div>

          <div class="collapse" id="education">
            <div class="card card-block">
              Ruby on Rails
            </div>
            <div class="card card-block">
              Angular2
            </div>
            <div class="card card-block">
              MySQL
            </div>
          </div>
        </p>
      </div>
    </div>
  </div>
</div>
  <%# header collection %>