<nav>
  <div class="nav-wrapper nav-bar #ffffff white">
    <a href="<%= root_path %>" class="brand-logo"><%= image_tag('devcamplogo.jpg', size: '205x53', class: "responsive-img hide-on-small-and-down") %><%= image_tag('devcamplogo.jpg', size: '180x28', class: "responsive-img hide-on-med-and-up") %></a>
    <a href="#!" data-activates="mobile-demo" class="button-collapse"><i class="material-icons black-text">menu</i></a>
    <ul class="right hide-on-med-and-down">
     <li><a href="#!" class="black-text">Login</a></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
     <li><a href="#!" class:"black">Login</a></li>
</nav>